.title {
    padding-top: 12px;
    padding-left: 10px;
    font-family: SFBold !important;
}

.header-title, .title, .add-button, .cancel-button, .save-button {
    font-family: SFBold !important;
}

.add-button {
    margin-top: 20px;
    margin-bottom: 200px;
}