<ion-card class="card">
  <ion-card-title class="card-title">{{ auditTitle }}</ion-card-title>
  <ion-card-subtile class="card-sub">Audit der Woche ()</ion-card-subtile>
  <ion-card-subtile class="card-sub">Person</ion-card-subtile>
  <ion-toolbar>

    <ion-label class="status-completed">Abgeschlossen
      <ion-icon class="icon-completed" name="checkmark-circle"></ion-icon>
    </ion-label>
    <!-- <ion-label class="status-pending">in Bearbeitung
      <ion-icon class="icon-pending" name="alert-circle"></ion-icon>
    </ion-label> -->

    <ion-button text-right class="edit-button" fill="clear">Bearbeiten</ion-button>
  </ion-toolbar>
</ion-card>
